@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

body{
    cursor: url('../images/icon.png'), auto
}

a{
    cursor: url('../images/click.png'), auto
}
.montserrat{
font-family: 'Montserrat', sans-serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.robotomono{
    font-family: 'Roboto Mono', monospace;
}