
body{
    cursor: url('../images/icon.png'), auto
}

a{
    cursor: url('../images/click.png'), auto
}
.montserrat{
font-family: 'Montserrat', sans-serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.robotomono{
    font-family: 'Roboto Mono', monospace;
}