
body{
    cursor: url('../images/icon.png'), auto
}

a{
    cursor: url('../images/click.png'), auto
}
.montserrat{
font-family: 'Montserrat', sans-serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.robotomono{
    font-family: 'Roboto Mono', monospace;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #114B5F;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}